@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

/* #292a2f Main gray */
/* color: #393b42; */
/* #fecb00 Main yellow  */
/* color: #46ceca; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  /* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;
}

/* General configurations */

main {
    margin: auto;
}

footer {
    background-color: #393b42;
}

footer p {
    text-align: center;
    margin: 1em 0;
}

footer :first-child {
    color: #46ceca;
    font-weight: bold;
    font-style: italic;
}

footer :last-child {
    color: white;
}

body {
    background-color: black;;
}

p {
    line-height: 1.4em;
}

h2 {
    font-weight: bold;
    color: #46ceca;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

section {
    width: 100%;
}

article p {
    margin: 1em;
}

article {
    /*¨margin: calc(3em + 60px) auto;*/
    margin: 100px auto; 
    color: white;
    min-width: 320px;
    max-width: 425px;
    text-align: left;
}

#social article {
    margin: 0  auto 100px; 
}

/* Nav bar */
nav {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,20%), 0 6px 20px 0 rgba(0,0,0,20%);
}
/*
.navbar-nav {
    min-height: 100vh;
}
*/

#logo {
    display: block;
    background-image: url("../assets/logo-portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    font-size: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 100%;
    border: 0;
    background: transparent;
    gap: .65rem;
}

.menu > div {
    background-color: #46ceca;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* Banner */

#banner {
    height: calc(100vh);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#banner > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 1.2em;
}

#desc p {
    line-height: 1.4em;
}

#desc p:first-child {
    font-size: 1.25em;
}

#desc p:nth-child(odd){
    color: white;
}

#desc p:nth-child(2){
    color: #46ceca;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#desc p:nth-child(3){
    font-size: 2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#desc:last-child div{
    margin-top: 0.2em;
}

#desc div {
    padding-top: 1em;
    width: 180px;
}

#desc div:last-child a{
    display: block;
    font-weight: bold;
    border: 1px solid #46ceca;
    padding: .6em;
    text-align: center;
}

#photo {
    background-image: url("../assets/pacilio-julian.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 425px;
    height: 425px;
    filter: drop-shadow(0px 0px 20px#46ceca);
    /* drop-shadow(offset-x offset-y blur-radius color)*/
}

/* Section - ABOUT */

#about-me {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(57, 59, 66, 0.4) 100%);
}

.button  {
    margin: 2em auto 0;
    display: block;
    font-weight: bold;
    color:#46ceca;
    background: transparent;
    border: 1px solid #46ceca;
    padding: .6em;
    text-align: center;
}

/* Section - SKILLS / PROJECTS */

.wrapper-skills {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 2em;
    justify-content: center;
}

.wrapper-projects {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-gap: 2em;
    justify-content: center;
}

.line {
    background-color:#46ceca;
    height: 1.02em;
    z-index: 1;
}

#projects {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(57,59,66,1) 100%);
}

.project img {
    width: 100%;
}

div[title="ai"]::before {
    content: "";
    background-image: url(../assets/illustrator-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="ps"]::before {
    content: "";
    background-image: url(../assets/photoshop-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="bt"]::before {
    content: "";
    background-image: url(../assets/bootstrap-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="git"]::before {
    content: "";
    background-image: url(../assets/git-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="ms"]::before {
    content: "";
    background-image: url(../assets/mysql-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="la"]::before {
    content: "";
    background-image: url(../assets/laravel-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="vue"]::before {
    content: "";
    background-image: url(../assets/vue-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

div[title="rt"]::before {
    content: "";
    background-image: url(../assets/react-logo.png);
    display: block;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: auto;
}

/* CONTACT */

form:first-child {
    font-size: 1em;
}

#form{
    max-width: 320px;
    margin: auto;
}

form {
    display: block;
    background-repeat: no-repeat;
    background-position: center ;
    padding: 10px;
    border-radius: 10px;
}

form button {
    margin: 2em auto 0;
    display: block;
    font-weight: bold;
    color: white;
    background-color: #46ceca;
    border: 0;
    padding: 0.6em;
    text-align: center;
}

/** SOCIAL MEDIA */

#social h2 {
    margin-bottom: 2.5em;
}

.wrapper-media {
    display: grid;
    grid-template-columns: repeat(3, 102px);
    justify-content: center;
    font-size: 0;
    margin: 0;
    padding: 0;
}

a[title="linkedin"] {
    display: block;
    background-image: url(../assets/linkedin-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    height: 60px;
    width: 60px;
    margin: auto;
}

a[title="github"] {
    display: block;
    background-image: url(../assets/github-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    height: 60px;
    width: 60px;
    margin: auto;
}

a[title="behance"] {
    display: block;
    background-image: url(../assets/behance-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    height: 60px;
    width: 60px;
    margin: auto;
}

/** Media Queries */
