@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* #292a2f Main gray */
/* #393b42 Secondary gray */
/* #fecb00 Main yellow  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

body {
    background-color: #292a2f;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    height: 80px;
    width: 100%;
}

#logo {
    display: block;
    background-image: url("../assets/logo-portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 0;
}

nav ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
}

.nav-bar ul li {
    margin: auto 1.5em 0;
}

/* Banner */

#banner {
    height: calc(100vh - 80px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#banner > div {
    display: flex;
    align-items: center;
}

#desc p:nth-child(odd){
    color: white;
}

#desc p:nth-child(2){
    color: #fecb00;
    font-size: 4em;
}

#desc p:nth-child(3){
    font-size: 2em;
    font-weight: bold;
}

#photo {
    background-image: url("../assets/pacilio-julian.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 800px;
}

/* Sections */

h2 {
    font-weight: bold;
    color: #fecb00;
    text-align: center;
}

section {
    padding: 2em 0;
}

#sc-1, #sc-3, #sc-5 {
    background-color: #393b42;
}

article {
    margin: 0 1.2em;
}

/* General configurations */

a {
    text-decoration: none;
    color: black;
}

main {
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 1em 0;
}